header{
    position:fixed;
    width: 100%;
    background-color: white;
    top: 0px;
    height: 50px;
    padding-top: 10px;
}
header .menu_top{
    display: flex;
    justify-content: space-between; 
}

header .menu_top .logo{
    text-decoration: none;
    color: #000;
    line-height: 40px;
    margin-left: 10px;
    padding: 0px 20px;
}
header .menu_top .logo:hover {
    background-color: lightgray;
}

.menu_top .menu{
    margin: 0px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
}

.menu_top .menu li{
    list-style: none;
}

.menu_top .menu li a {
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px 0px 20px;
    color: #000;
}

.menu_top .menu li a:hover {
    background-color: lightgray;
}

.main .banner .img_banner{
    height: auto;
    width: 100%;
    margin: 20px;
}

.main .banner p{
    position: absolute;
    left: 60px;
    top: 750px;
    font-size: 40px;
}

.main section img{
    width: 500px;
    height: auto;
    border-radius: 4px;
    max-width: 500px;

}

.main section{
    width: 1100px;
    margin: 80px auto;
}

.main .introdution{
    display: flex;
}

.main .introdution .aboutcatering{
    margin: 0px 50px;
}

.main .menu_food{
    display: flex;
}

.main .menu_food .detail_menufood{
    margin: 0px 110px 0px 0px;
}

.main .introdution .aboutcatering h1{
    font-size: 30px;
    text-align: center;
}

.main .introdution .aboutcatering h4{
    font-size: 20px;
    text-align: center;
}

.main .menu_food .detailfood{
    margin: 0px;
    padding: 0px;
}
.main .menu_food .detailfood li{
    list-style: none;
    padding: 5px 0px;
}
.footer{
    height: 100px;
    background: rgb(211, 207, 207);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 100%;
    height: 50px;
    margin: 7px;
    border-style: none;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.btsendmessage{
    border-style: none;
    margin: 7px;
    padding: 10px 15px;
}

.main .introdution .seasonal{
    background-color: lightgray;
    padding: 0px 8px;
}

.main .menu_food .ourmenu{
    font-size: 30px; 
    text-align: center;
}

.main hr{
    width: 1100px;
    margin: 80px auto;
}